<script type="text/x-kendo-template" id="grdSlaEditor">
    <div class="k-edit-form-container">
        <div class="card">
            <div class="card-content">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Job Level Group:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input kendo-drop-down-list
                                       id="ddlJobLvlGrp"
                                       k-ng-model="dataItem.JobLevelGroup"
                                       k-options="optJobLvlGrp"
                                       style="width: 100%" 
                                       required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Days:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input ng-model="dataItem.Days"
                                   kendo-numeric-text-box
                                   class="form-numeric-textbox"
                                   k-options="optNumericTextbox"
                                   style="width:100%;"
                                   data-bind="value: Days"
                                   required />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>