<script type="text/x-kendo-template" id="grdApplicantExamEditor">
    <div class="k-edit-form-container">
        <div class="card">
            <div class="card-content">
                <div class="columns">
                    <div class="column">
                        <div class="field is-vertical">
                            <div class="field-label is-normal">
                                <label class="label">Exam Type:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <!--<input kendo-drop-down-list
                                           id="ddlExamType"
                                           k-options="optExamType"
                                           style="width: 100%;"
                                           k-ng-model="dataItem.ExamType"
                                           ng-required="true" />-->
                                    <input style="width:100%;"
                                            id="ddlExamType"
                                            kendo-drop-down-list="optExamType"
                                            data-bind="value: ExamType"
                                            name="ddlExamType"
                                            ng-required="true"
                                            k-options="optExamType" />
                                </div>
                            </div>
                        </div>
                        <div class="field is-vertical">
                            <div class="field-label is-normal">
                                <label class="label">Exam Status:</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <!--<input kendo-drop-down-list
                                           id="ddlExamStatus"
                                           k-options="optExamStatus"
                                           style="width: 100%;"
                                           k-ng-model="dataItem.ExamStatus"
                                           ng-required="true" />-->
                                    <input style="width:100%;"
                                            id="ddlExamStatus"
                                            kendo-drop-down-list="optExamStatus"
                                            data-bind="value: ExamStatus"
                                            name="ddlExamStatus"
                                            ng-required="true"
                                            k-options="optExamStatus"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field is-vertical">
                            <div class="field-label is-normal">
                                <label class="label">
                                    <span class="has-text-weight-semibold">Schedule Date: </span>
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input style="width:100%;"
                                               name="ScheduleDate"
                                               placeholder="Please Select"
                                               kendo-date-picker
                                               k-ng-model="dataItem.ScheduleDate"
                                               k-options="optScheduleDate"
                                               ng-required="true" /><!--min-date="{{ todayDateIncreBy1 }}"-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-vertical">
                            <div class="field-label is-normal">
                                <label class="label">
                                    <span class="has-text-weight-semibold">Schedule Time: </span>
                                </label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input style="width:100%;"
                                               name="ScheduleTime"
                                               placeholder="Please Select"
                                               kendo-timepicker
                                               data-bind="value: ScheduleTime"
                                               k-options="optScheduleTime"
                                               ng-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">Examiner:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input style="width:100%;"
                                    id="ddlExaminer"
                                    kendo-drop-down-list="optDivHead"
                                    data-bind="value: ExaminerEmp"
                                    name="ddlExaminer"
                                    ng-required="true"
                                    k-options="optExaminer"/> 
                        </div>
                    </div>
                </div>-->
                <div class="field is-vertical" ng-show="isHideApprovalStat">
                    <div class="field-label is-normal">
                        <label class="label">Approval Status:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input style="width:100%;"
                                    id="ddlApprovalStat"
                                    kendo-drop-down-list="optApprovalStat"
                                    k-ng-model="dataItem.ApprovalStatus"
                                    ng-required="isHideApprovalStat"
                                    k-options="optApprovalStat"/>
                        </div>
                    </div>
                </div>
                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">
                            <span class="has-text-weight-semibold">
                                Meeting Room:
                            </span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input style="width:100%;"
                                id="ddlMeetingRoom"
                                kendo-drop-down-list="optMeetingRoom"
                                data-bind="value: MeetingRoom"
                                name="ddlMeetingRoom"
                                ng-required="true"
                                k-options="optMeetingRoom" />
                        </div>
                    </div>
                </div>
                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">
                            <span class="has-text-weight-semibold">
                                Examiner:
                            </span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <select id="employee" kendo-multi-select
                                    k-options="employeeOptions"
                                    data-bind="value: Examiner"
                                    required
                                    style="width: 100%"></select> <!--k-ng-model="dataItem.ReplacedStaff"-->
                        </div>
                    </div>
                </div>
                <div class="field is-vertical">
                    <div class="field-label is-normal">
                        <label class="label">Remarks:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="k-input k-textbox" name="Remarks" data-bind="value:Remarks" style="width: 100%; height: 8em;"></textarea><!--ng-model="dataItem.Description"-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="field is-horizontal">
                    <div class="field-body">
                        <div class="form-check form-check-inline">
                            <div class="custom-control custom-checkbox">
                                <input id="IsCancelEditor" ng-model="dataItem.IsCancel" type="checkbox" class="custom-control-input">
                                <label class="custom-control-label has-text-weight-semibold" for="IsCancelEditor">
                                    Is Cancel
                                </label>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</script>